@charset "UTF-8";

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(9, 7, 125);
}

h2 {
    color: #16a8f7;
}

p {
    text-align: justify;
}
